@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#shopus{
    font-size: auto;
    /* margin-top: 30px; */
    margin-top: 50px;
    font-size: 50pt;
    color: black;
    text-align: center;
}

.mycard
{
  background-color:#002c3e ;
  color: white;
  text-align: center;
  padding: 50px 50px 25px 25px; 
  border-radius: 4px;
  margin-top: 15px;
  /* box-sizing: border-box; */
}


.arrivals{
    margin-top: 100px;
    width: 98%;
    height: 100vh;
     margin:auto; 
    margin-top: 50px;
    background: url("./images/arrival-bg.jpg");
    background-repeat: no-repeat;
  } 

#arvh1{
    color: #002c3e;
    margin-left: 560px;
    padding: 150px;
    font-size: 40px;
}

.heading_center{
  font-family: 'Montserrat',sans-serif;
  color: #0c0c0c;
  text-align: center;
}

#p1{
  margin-left:850px ;
  font-size: 25px;
  margin-top: -120px;
  
}

.shopnow{
  text-align: center;
  background-color:  #f7444e ;
  color: white;
  font-size: 30px;
  border-radius: 2px;
  height: 70%;
  width: 13%;
  margin-left: 850px;
  margin-top: 2px;
  padding: 2px 5px 2px 5px;
}